/*GENERAL==========
=================*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}


h1, h2, h3 {
    text-align: center;
}

a {
    text-decoration: none;
}

form {
    margin: auto;
    width: 50%;
}

.form-center{
    margin: auto;
}

i {
    text-decoration: none;
}

/*HEADER=====
=================*/

header {
    height: 100vh;
}

.main-title {
    margin-top: 10%;
    font-size: 1em;
    background: -webkit-linear-gradient(rgb(163, 41, 41), rgb(37, 35, 161));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;}

.main-title h1 {
    font-weight: 700;
    font-size: 9em;
    text-align: left;
    font-family: 'Racing Sans One', cursive;
}

.main-title span {
    position: relative;
    top: -90px;
    left: 20px;
}


#jovecto {
    transition: 1s;
}

#jovecto:hover {
    transform: rotate(10deg);
    transition: 1s;
}


/*animate circle*/

.box-main-title:hover .circles-one{
    transform: translateY(1000px);
    transition: 3s;
}

.main-title:hover .circles-two{
    transform: translateY(1000px);
    transition: 2.5s;
}

.main-title:hover .circles-three{
    transform: translate(500px, 1200px);
    transition: 2.5s;
}

.main-title:hover .circles-four{
    transform: translateY(-1000px);
    transition: 2.5s;
    background-color:  rgba(170, 87, 32, 0.6);
}




.circles-one {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(127, 133, 175, 0.6);
    position: absolute;
    top: -1000px;
    transition: 25s;
}

.circles-two {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(49, 151, 88, 0.6);
    position: absolute;
    top: -900px;
    left: 500px;
    transition: 19s;

}

.circles-three {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(170, 87, 32, 0.6);
    position: absolute;
    top: -1000px;
    left: 50px;
    transition: 20s;
}

.circles-four {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    top: 900px;
    left: 100px;
    transition: 20s;
}




/*arrow-down*/
.arrow-down {
    margin: -100px auto;
    width: 30px;
}

.link-arrow {
    color:  rgba(71, 70, 70, 0.7);
    font-size: 2em;
    width: 3px;
    margin: auto;
    text-align: center;
}

.fa-angle-double-down {
    font-size: 1.5em;
}

.fa-angle-double-down:hover {
    color: #cc9565;
    transform: translateY(20px);
    transition: 1s;
}


/*PRESENTATION=====
=================*/

.bloc-img {
    margin: 60px auto;
}

.bloc-img img {
    display: block;
    width: 200px;
    margin:  auto;
}

/*PORTFOLIO========
=================*/

/*TECHNOLOGIE======
=================*/

/*CONTACT==========
=================*/

/*FOOTER==========
=================*/




/*POUR LA POLICE DES TITRE */

/* @font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    src:url("/webfonts/Advent_Pro_400.ttf") format("truetype");
} */


