/*GENERAL==========
=================*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}


h1, h2, h3 {
    text-align: center;
}

a {
    text-decoration: none;
}

form {
    margin: auto;
    width: 50%;
}

.form-center{
    margin: auto;
}

i {
    text-decoration: none;
}

/*HEADER=====
=================*/

header {
    height: 100vh;
}

.main-title {
    margin-top: 10%;
    color: rgba(71, 70, 70, 0.7);
}

.main-title h1 {
    font-weight: 700;
    font-size: 5em;
    text-align: left;
}

.main-title span {
    font-weight: 100;
    font-size: 0.35em;
    word-spacing: 8px;
}


/*animate circle*/

.main-title:hover .circles-one{
    transform: translateY(1000px);
    transition: 2s;
}

.circles-one {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(127, 127, 175, 0.6);
    position: absolute;
    top: -1000px;
}



/*arrow-down*/
.arrow-down {
    margin: auto;
    width: 30px;
}

.link-arrow {
    color:  rgba(71, 70, 70, 0.7);
    font-size: 2em;
    width: 3px;
    margin: auto;
    text-align: center;
}

.fa-angle-double-down {
    font-size: 1.5em;
}

.fa-angle-double-down:hover {
    color: #cc9565;
    transform: translateY(20px);
    transition: 1s;
}


/*PRESENTATION=====
=================*/

.bloc-img img {
    width: 200px;
    margin-top: 60px;
    
}

/*PORTFOLIO========
=================*/

/*TECHNOLOGIE======
=================*/

/*CONTACT==========
=================*/

/*FOOTER==========
=================*/




/*POUR LA POLICE DES TITRE */

/* @font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    src:url("/webfonts/Advent_Pro_400.ttf") format("truetype");
} */
