/*GENERAL==========
=================*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}


h1, h2, h3 {
    text-align: center;
}

a {
    text-decoration: none;
}

form {
    margin: auto;
    width: 50%;
}

.form-center{
    margin: auto;
}

i {
    text-decoration: none;
}

/*HEADER=====
=================*/

header {
    height: 100vh;
}

.main-title {
    margin-top: 10%;
    color: rgba(71, 70, 70, 0.7);
}

.main-title h1 {
    font-weight: 700;
    font-size: 5em;
    text-align: left;
}

.main-title span {
    font-weight: 100;
    font-size: 0.35em;
    word-spacing: 8px;
}


/*animate circle*/

.main-title:hover .circles-one{
    transform: translateY(1000px);
    transition: 3s;
}

.main-title:hover .circles-two{
    transform: translateY(1000px);
    transition: 2.5s;
}

.main-title:hover .circles-three{
    transform: translate(500px, 1200px);
    transition: 2.5s;
}

.main-title:hover .circles-four{
    transform: translateY(-1000px);
    transition: 2.5s;
    background-color:  rgba(170, 87, 32, 0.6);
}




.circles-one {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(127, 133, 175, 0.6);
    position: absolute;
    top: -1000px;
    transition: 25s;
}

.circles-two {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(49, 151, 88, 0.6);
    position: absolute;
    top: -900px;
    left: 500px;
    transition: 19s;

}

.circles-three {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(170, 87, 32, 0.6);
    position: absolute;
    top: -1000px;
    left: 50px;
    transition: 20s;
}

.circles-four {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    top: 900px;
    left: 100px;
    transition: 20s;
}




/*arrow-down*/
.arrow-down {
    margin: 100px auto;
    width: 30px;
}

.link-arrow {
    color:  rgba(71, 70, 70, 0.7);
    font-size: 2em;
    width: 3px;
    margin: auto;
    text-align: center;
}

.fa-angle-double-down {
    font-size: 1.5em;
}

.fa-angle-double-down:hover {
    color: #cc9565;
    transform: translateY(20px);
    transition: 1s;
}


/*PRESENTATION=====
=================*/

.bloc-img img {
    width: 200px;
    margin-top: 60px;
    
}

/*PORTFOLIO========
=================*/

/*TECHNOLOGIE======
=================*/

/*CONTACT==========
=================*/

/*FOOTER==========
=================*/




/*POUR LA POLICE DES TITRE */

/* @font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    src:url("/webfonts/Advent_Pro_400.ttf") format("truetype");
} */


/* ---- reset ---- */ body{ margin:0; font:normal 75% Arial, Helvetica, sans-serif; } canvas{ display: block; vertical-align: bottom; } /* ---- particles.js container ---- */ #particles-js{ position:absolute; width: 100%; height: 100%; background-color: black; background-image: url(""); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; } /* ---- stats.js ---- */ .count-particles{ background: #000022; position: absolute; top: 48px; left: 0; width: 80px; color: #13E8E9; font-size: .8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; } .js-count-particles{ font-size: 1.1em; } #stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; } #stats{ border-radius: 3px 3px 0 0; overflow: hidden; } .count-particles{ border-radius: 0 0 3px 3px; }